<form [formGroup]="producForm">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Street" formControlName="street">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Zip" formControlName="zip">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="City" formControlName="city">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Residence type" formControlName="type">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Price" formControlName="price">
  </div>
</form>