<div class="b-product-detail">
  <div class="wrap">
    <button [routerLink]=" ['./', {outlets: {'sidebar': ['edit']}}] " class="btn-edit btn btn-default">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <div class="title" *ngIf="item.street">{{item.street}}</div>
    <div class="description" *ngIf="item.zip">{{item.zip}}, {{item.city}}</div>
    <div class="extra" *ngIf="item.type">{{item.type}}, {{item.price}}</div>

    <div class="status">{{item.sold ? 'SOLD' : 'FOR SALE'}}</div>
  </div>
</div>

<router-outlet name="sidebar"></router-outlet>