<div class="b-products" [@animate]="animate">
  <div *ngFor="let item of products | async" [routerLink]="['/detail', item._id]" class="product-item" >
    <div class="wrap-all">
      <div class="title">{{item.street}}</div>
      <div class="description">{{item.zip}}, {{item.city}}</div>
      <div class="extra">{{item.type}}, {{item.price}}</div>
    </div>
  </div>
</div>

<div *ngIf="loadingStatus" class="animationload">
  <div class="osahanloading"></div>
</div>
<router-outlet name="sidebar"></router-outlet>